<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CORREO ELECTRONICO</title>
    {% load static %}
<body>
    <h1>¡BIENVENIDO AL SEMESTRE ACADEMIDO 2024-I!</h1>
    <p for="">Estimados estudiantes de la Escuela de Posgrado, </p>    
    <p>Reciban un cordial saludo. Nos complace informarles que, ya se encuentra disponible el cronograma de registro de pago de matrícula para Semestre Académico 2024 - I
       Queremos recordarles la importancia de seguir este proceso para asegurar su participación en las clases y actividades académicas programadas.</p>  
    
    <p>A continuación, les proporcionamos algunos detalles sobre el proceso de matrícula:</p>
    
    <label for=""><b>1. Cronograma de Matrícula:</b></label>
    <p>        
        Fecha límite de matrícula:<b> Hasta 01/06/2024 </b><br>
        Más información, en el PDF adjunto a este mensaje de correo.
    </p>    
    <br>
    <label for=""><b>2. Registro de Vouchers:</b></label>
    <p>Les recordamos que los vouchers de pago deben ser registrados a través del sistema (SIGAP/EPG-ESTUDIANTE) en línea en el siguiente enlace: </p>
    <label for="">Link de acceso al sistema: <a href="www.epgnew.unitru.edu.pe"> www.epgnew.unitru.edu.pe ✍️</a> </label>
    <p>Por motivos de seguridad y eficiencia, no se debe enviar vouchers por correo electrónico ni entregarlos de forma física en nuestras oficinas.</p>
    <br>
    <label for=""><b>3. Problemas de Acceso al Sistema:</b></label>
    <p>Si experimenta problemas de acceso al sistema debido al olvido de la contraseña, por favor, contactarnos a través del correo electrónico upg_utic@unitru.edu.pe.
        Estamos comprometidos en brindarles un proceso de matrícula eficiente y seguro. Les agradecemos su colaboración y puntualidad en este procedimiento. 
        Si tienen alguna pregunta o requiere SOPORTE adicional, no dude en ponerse en contacto con nuestro equipo de soporte.</p>
    <p>
        Celular:<b> 984599249 </b>- Lic. Anderson Zavaleta S.  <br>
        Celular:<b> 978468194 </b>- Ing. Ronald Cordova
    </p>      
    
    <p>Aprovechamos esta oportunidad para desearles mucho éxito en el próximo semestre. Esperamos que disfruten de sus estudios y logren todos sus objetivos académicos.</p>  
    
    <p>¡Atentamente,</p>   
    <label for=""><b>Unidad de UTIC-EPG</b></label><br>
    <label for=""><b>Escuela de Posgrado de la Universidad Nacional de Trujillo</b></label>

    
    <img src="cid:utic_banner" width="100%" alt="UTIC Banner">

</body> 
</html>