<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CORREO ELECTRONICO</title>
    {% load static %}
<body>
    <h1>{{encabezado}}</h1>
    <label for="">Estimado/a Docente <b>{{nombre}}</b></label>
    <br>
    <br>
    <p><b>NOTA:</b>{{contenido}}</p>
    <br><br>
    <label for="">Credenciales al sistema</label>
    <br>
    <b>Username: </b>
    <br>
    <b>Password: </b>
    <br>
    <label for="">Link de acceso al sistema: <a href="http://www.epgnew.unitru.edu.pe:84"> http://www.epgnew.unitru.edu.pe:84 ✍️</a> </label>    
    <br><br>
    <img src="cid:utic_banner" alt="UTIC Banner">

</body> 
</html>