<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CORREO ELECTRONICO</title>
</head>
<body>
    <h1>¡Bienvenido al Modulo de Evaluacion curricular de la Escuela de Posgrado del proceso de admisión 2024-I!</h1>
    <label for="">Estimado Docente <b>{{nombre}}</b></label>
    <br>
    <p><b></b>{{email}}</p>
    <br>
    <p><b>NOTA:</b>{{contenido}}</p>
    <br><br>
    <label for="">Credenciales al sistema</label>
    <br>
    <b>Username: </b>
    <br>
    <b>Password: </b>
    <br>
    <label for="">Link de acceso al sistema: <a href="http://www.epgnew.unitru.edu.pe:84"> http://www.epgnew.unitru.edu.pe:84 ✍️</a> </label>    
    <br><br>
    

</body> 
</html>