{% extends "plantilla.html" %}
{% block title %} POSGRADO | Usuarios {% endblock title %}

{% block content %}
<!-- Estilos -->
<style>
    .card-header{
        background-color: #2f5793;
        color: white;
    }

    thead{
        background-color: #c8c8c8;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 42px;
        height: 25px;
    }

    .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #bab1b1;
        transition: .4s;
        border-radius: 34px;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        left: 2px;
        bottom: 4px;
        background-color: white;
        transition: .4s;
        border-radius: 50%;
    }

    input:checked + .slider {
        background-color: #2f5793;
    }

    input:checked + .slider:before {
        transform: translateX(18px);
    }

 
</style>
<!--  -->

    <div class="p-2">
        <div class="card mt-1">
            <div class="card-header d-flex justify-content-between ">           
                <h4 class="card-title" style="font-size: 15px;">LISTADO DE USUARIOS</h4>                          
                {% if perms.appevaluacion.view_doctorado %}
                <div class="ml-auto">
                    <a href="{% url 'creacion_usuario' %}" class='btn btn-sm' style="background-color:#e7edf7 ; font-size: 10px;">
                        <i class='fas fa-plus fa-sm'></i> NUEVO
                    </a>
                </div>  
                {% endif %}          
            </div> 

            <div class="card-body">           
                <div class="row p-2 mb-2 d-flex align-content-center">     
                    <div class="col-md-2 col-sm-6"> 
                        <label for="selectStatusUSer">Filtra Estado:</label> 
                    </div>                       
                    <div class="col-md-2 col-sm-6" style="margin-left: -80px;">                                                     
                        <select class="form-control form-control-sm" id="filtroEstado" name="estado">
                            <option value="todos">Todos</option>
                            <option value="activo">Activos</option>
                            <option value="inactivo">Inactivos</option>                           
                        </select>
                    </div> 
                                                                                                         
                </div>           
                <!-- Listado -->
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-sm table-striped my-3" style="width: 100%;" id="tablausuarios">
                            <thead class="table-light">
                                <tr>                               
                                    <th >Id</th>
                                    <th>Nombres</th>                         
                                    <th>Username</th>
                                    <th>Password</th>                                  
                                    <th>Estado</th>                                  
                                    <th><center>Opciones</center></th>
                                </tr>
                            </thead>
                            <tbody id="tablebody_usuarios">

                            </tbody>                         
                        </table>
                    </div>
                </div>                                    
            </div>                      
        </div>    
    </div>
 
{% endblock content %}

{% block js %}
   <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
   
    <!-- Mensaje de exito -->
    {% if messages %}
        {% for m in messages %}
            <script>
                Swal.fire({
                "title": "Éxito",
                "text":"{{m}}",
                "icon":"success"
                })
                console.log("{{m}}")
            </script>
        {% endfor %}
    {% endif %}

   <!-- Datatables -->
   <script>
        let dataTable;
        let dataTableIsInitialized = false;

        const dataTableOptions = {        
            columnDefs: [               
                { orderable: false, targets: [3, 4, 5]},
                { searchable: false, targets: [0, 3, 4, 5] }
            ],
            pageLength: 10,
            destroy: true,
            language:{
                lengthMenu: "Mostrar _MENU_ registros por página",
                zeroRecords: "Ningun registro encontrado",
                info: "Mostrando de _START_ a _END_ de un total de _TOTAL_ registros",
                infoEmpty: "Ningún registro encontrado",
                infoFiltered: "(filtrados desde _MAX_ registros totales)",
                search: "Buscar: ",
                loadingRecords: "Cargando...",
                paginate:{
                    first: "Primero",
                    last: "Ultimo",
                    next: "Siguiente",
                    previous: "Anterior"
                }
            },   
            layout: {
                topStart: {
                    buttons: ['excel', 'pdf', 'print']
                }
            },
                  
                                  
        };

        const initDataTable = async () => {
            if (dataTableIsInitialized) {
                dataTable.destroy();
            }
            await listaUsuarios();
            dataTable = $("#tablausuarios").DataTable(dataTableOptions);
            dataTableIsInitialized = true;
        };


        const listaUsuarios = async (estado) => {
            try {
                const response = await fetch("/usuarios/listar_usuarios_json?estado=" + estado);
                const data = await response.json();
                let content = ``;
                data.usuarios.forEach((item_usuario) => {
                    const isActive = item_usuario.is_active ? 'checked' : '';
                    content += `
                        <tr>                            
                            <td>${item_usuario.id}</td>                    
                            <td>${item_usuario.first_name}  ${item_usuario.last_name}</td>                                                           
                            <td>${item_usuario.username}</td> 
                            <td>${item_usuario.password}</td>
                            <td>    
                                <label class="switch">
                                    <input type="checkbox" class="status-toggle" data-user-id="${item_usuario.id}" ${isActive}>
                                    <span class="slider round"></span>
                                </label>
                            </td>
                            <td>
                                <button class='btn btn-sm' style="background-color: #4273b5;"><i class='fa-solid fa-edit' style="color: white;"></i></button>
                                <button class='btn btn-sm btn-danger'><i class='fa-solid fa-trash-can'></i></button>
                            </td>
                        </tr>`
                        ;
                });
                tablebody_usuarios.innerHTML = content;
                
            } catch (ex) {
                alert(ex);
            }
        };

        window.addEventListener("load", async () => {          
            await initDataTable();
        });

    </script>
          
    <!-- Activar/Desactivar Estado -->
    <script>
       $(document).ready(function(){
            $('body').on('change', '.status-toggle', function(){
                var user_id = $(this).data('user-id');  
                var is_active = $(this).is(':checked'); 

                $.ajax({
                    url: '/update-status-user/',
                    method: 'POST',
                    data: {
                        'user_id': user_id,
                        'is_active': is_active,
                        'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()
                    },                  
                    error: function(response) {
                        alert('Error al cambiar el estado.');
                    }
                });
            });
        });
    </script>
            
    <!-- Filtrando por estado -->
    <script>
        document.getElementById("filtroEstado").addEventListener("change", function() {
            const estadoSeleccionado = this.value;
            listaUsuarios(estadoSeleccionado);
        });
    </script>
  
          
{% endblock js %} 
