{% extends "plantilla.html" %}
{% block title %} POSGRADO | Home {% endblock title %}
{% load static %}
{% block content %}
    <div class="p-5">
        
        <div class="card p-4 d-flex justify-content-center align-items-center" >
            <center><h2 class="text-uppercase"><b>¡Bienvenido {{request.user.username}}👋!</b></h2></center><br>
            <img class="" src="{% static 'toast/images/home_postgrado.jpg'%}" style="width: 100%;" alt="home_postgrado"> 
        </div>
    </div>
{% endblock %} 

{% block js %}   
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if messages %}
        {% for m in messages %}
            <script>
                Swal.fire({
                "title": "Éxito",
                "text":"{{m}}",
                "icon":"success"
                })
                console.log("{{m}}")
            </script>
        {% endfor %}
    {% endif %}
{% endblock %} 


